#form_ins{
	text-align: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	padding-bottom: 50px;
}


#form_ins div{
	width: 90%;
	margin-left: auto;
	margin-right: auto;

	margin-top: 20px;
	margin-bottom: 20px;
	padding: 2px;
	
	text-align: left;
}

#form_ins div label{
	display: inline-block;
	font-size: 24px;
	width: 170px;
	margin: auto;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-style: solid;
	border-color: silver;
}

#form_ins div input{
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-style: solid;
	border-color: silver;
	padding: 6px;
	/*width: 30%;*/
	font-size: 24px;
}

#form_ins input[type="submit"]{
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 2px;
	border-left-width: 0px;
	border-color: white;
	border-style: solid;
	font-size: 24px;
	color: white;
	padding: 8px;
	border-radius: 4px;
	background-color: #1E90FF;
	cursor: pointer;
	margin-top: 10px;
}

#form_ins input[type="submit"]:hover{

	color: white;
	padding: 6px;
	background-color: #00BFFF;
}