
<div id="footer">
{% block footer %}
<a href="">Plan du site</a>
<a href="">Mentions Légales</a>
<a href="">Contact</a>
<a href="{{ path('ggg_user_desinscription') }}">Désinscription</a>
{% endblock %}
</div>
