<!DOCTYPE html>
<html>
<head>

<meta charset="ISO-8859-1"/>

{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/gggnotices/css/style.css') }}"/>
{% endblock %}


<title>
{% block title %}
mon-aspirateur.net | Notices et manuels d'utilisation pour aspirateurs
{% endblock %} 
</title>

</head>
<body>

{% include 'GGGNoticesBundle:Default:header.html.twig' %}


<div class="wrapper">
{% block wrapper %}


{% for message in app.session.flashbag.get('erreur') %}
<p class="erreur">{{ message|raw }}</p>
{% endfor %}



{% block content %}

{% block recherches %}
<div id="recherches">
<h2>Entrez le nom ou la référence de votre aspirateur<h2>
<div id="noRes">Aucun résultats</div>
<input name="motif" id="motif" type="search" placeholder="Exemples: PHILIPS, MV5 PREMIUM,... "/>
<img id="loupe"
	 src="{{ asset('bundles/gggnotices/images/loupe.png') }}"
	 alt="barre de recherche"/>
<ul id="propositions">
</ul>
</div>
{% endblock %}

{% endblock %}

</div><!-- fin wrapper-->

{% endblock %}

{% include 'GGGNoticesBundle:Default:footer.html.twig '%}
{% block js %}
<script type="text/javascript" src="{{ asset('bundles/gggnotices/js/recherches.js') }}"></script>
{% endblock %}
</body>
</html>